* {
box-sizing: border-box;
margin: 0;
padding: 0;    
}

body {
color: #40514E;
font-family: 'Montserrat', sans-serif;
text-align: center;
}

p {
font-family: 'Open Sans', sans-serif;
line-height: 2;
}


h1 {
color: #66BFBF;
font-family: 'Nothing You Could Do', cursive;
font-size: 5.5rem;
line-height: 2;
}

h2 {
color: #66BFBF;
font-size: 2.5rem;  
font-weight: normal;  
padding-bottom: 20px;
}

hr {
border: dotted #8b5e83 6px;
border-bottom: none;
margin: 100px auto;
width: 4%;
}

a {
color: #11999E;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
margin: 15px 20px;
}

a:hover {
color:#8b5e83;
}
/* profiel foto */
.profile-img {
margin: 30px;
width: 20%;
}

/* Header underline */
.underline {
border-bottom: 1px solid #d6b0b1;
}

.intro-text {
width: 30%;
margin: auto;
}
/* containers */

.top-container {
position: relative;
padding-top: 100px;
background-color: #bee5d3;
text-align: center;
}

.middle-container{
margin: 100px 0;
}

.bottom-container {
padding: 50px 0 20px;
background-color: #66BFBF; 
}

.top-cloud {
top: 30px;
right: 290px;
position: absolute;    
}

.bottom-cloud {
top: 270px;
left: 280px;    
position: absolute;
}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;

}

.code-img {
width: 25%;
float: left;
margin-right: 30px;
}

.chilli-img {
width: 25%;
float:right;
margin-left: 30px;
}


.footer-link {
margin-top: 20px;
} 

.contact-message {
margin: 40px auto 60px;
width: 40%;
}

@media(max-width:420px){

body {
width: 100%;
}

/* header */

h1 {
font-size: 3.5rem;   
}

h2 {
font-size: 2rem;
margin-bottom: 1rem;
}

.top-cloud {
left: 4rem;
width: 30%;
}

.bottom-cloud {
right: 3.5rem;
width: 20%;
}

.mountain{
width: 55%;
}

/* banner */

.profile-img {
width: 50%
}

.intro-text {
width: 70%;
}

/* skills section */
h3{
text-align: center;
margin-bottom: 1rem;
}
.skill-row{
width: 100%;
margin: 0 10px;
}

.skill-text {
width: 90%;
text-align: center;
margin-bottom: 1.5rem;

}

.chilli-img{
display: none;
}

.code-img{
display: none;
}
/* contact */
.contact-message{
width: 90%;
}
 }

 @media(max-width: 768px){

h1 {
font-size: 3.5rem;   
}
      
h2 {
font-size: 2rem;
margin-bottom: 1rem;
}
.top-container {
position: relative;
}
.top-cloud {
left: 4rem;
width: 20%;
}
      
.bottom-cloud {
display: none;
width: 20%;
}

.mountain{
width: 55%;
}

/* banner */

.profile-img {
width: 40%
}

h2{
font-size: 2.5rem;
}
.intro-text {
width: 70%;
font-size: 1.5rem;
}

/* skills section */
h3{
font-size: 2rem;
text-align: center;
margin-bottom: 1rem;
}
.skill-row{
width: 100%;
margin: 0 10px;
}
   
.skill-text {
width: 90%;
text-align: center;
margin-bottom: 1.5rem;
font-size: 1.5rem;
}
   
.chilli-img{
   display: none;
}
   
.code-img{
display: none;
}
/* contact */
.contact-message{
width: 90%;
font-size: 1.5rem;
}
   
 }

 @media(max-width: 1020px){

 }
